@media only screen and (max-width:1025px) {
    .headRight {
        margin-right: -70px;
    }

    .headRight img {
        transform: translateX(106px);
        height: 600px;
        width: auto;
    }

    .sectionHead {
        margin-bottom: 40px;
    }
}

@media only screen and (max-width:1200px) {
    .contactLeft img {
        height: 300px;
    }
}


@media only screen and (max-width:728px) {
    .wrapCon {
        padding: 0 50px;
    }

    .headerCon {
        justify-content: center;
    }

    .headLeft {
        text-align: center;
    }

    .headLeft h1 {
        width: 100%;
        margin: auto;
        font-size: 30px;
    }

    .headLeft h2 {
        max-width: 80%;
        margin: auto;
        padding-bottom: 40px;
        font-size: 18px;
    }

    .headRight {
        display: none;
    }

    .topNavCon {
        justify-content: center;
    }

    .topRight {
        display: none;
    }

    .navCon {
        flex-direction: column;
    }

    .navRight {
        padding-top: 10px;
    }

    /* .sectionHead h2 {
        font-size: 20px;
    }

    .sectionHead h1 {
        font-size: 30px;
    } */

    .sectionHead {
        margin-bottom: 30px;
    }

    .poweredBrands {
        transform: scale(0.8);
    }

    .sectionCon {
        transform: scale(0.9);
    }

    .sectionCon .sectionHead {
        transform: scale(0.8);
    }

    .footer {
        padding: 20px!important;
    }

    .footerBanner {
        display: none;
    }

    .footerContent{
        padding: 10px;
    }

}

@media only screen and (max-width:640px) {
    .wrapCon {
        padding: 0 20px;
    }

    .headerCon {
        padding: 0 0;
    }

    .nav {
        display: none;
    }

    .mobNav {
        display: flex;
        /* display: none; */
    }

    .poweredBrands {
        gap: 50px;
    }

    .poweredBrands {
        transform: translateY(30px);
    }

    .aboutP {
        font-size: 20px !important;
    }

    .bestSearchBar {
        font-size: 20px;
        text-align: center;
    }

    .contactConnecting span {
        display: block;
    }

    .trustpilot {
        width: 100% !important;
        margin-top: 100px;
    }

    /* .contactForm{
        width: 900px;
    } */

    .footerContent{
        flex-direction: column;
    }
}